body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    text-align: center;
    padding: 30px 0;
    background-color: #333;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-item:hover {
    color: #007bff;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin-top: 10px;
    font-size: 18px;
    color: #ccc;
}

.blog-post {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.blog-post:hover {
    transform: scale(1.02);
}

.blog-post img {
    width: 50%;
    border-radius: 4px;
    margin-bottom: 8px;
    transition: opacity 0.3s ease-in-out;
}

.blog-post:hover img {
    opacity: 0.8;
}

.post-details {
    padding: 0 20px;
}

.post-details h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.post-details p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

.date {
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #0056b3;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}